.alinhamento{
	text-align: center;
}

th{
	text-align: left;
}

table{
	border: 1px solid black;
}

button {
	
	
	background-color: white;
	color: black;
	border-radius: 4px;
	border: 2px solid black;
	
	
	transition-duration: 0.4s;
}

button:hover{
	background-color: black;
	color: white;
}

input{
	
	background-color: white;
	color: black;
	border-radius: 4px;
	border: 2px solid black;
	
	
	transition-duration: 0.4s;
	
}

input:hover{
	
	background-color: black;
	color: white;
}